{% extends 'base.html.twig' %}

 {% block body %}
     {{ include('AppBundle:Partial:overhead.html.twig') }}
     <div class="row">
         <div class="large-12 column main">
             <div class="foreground">
                 {{ include('AppBundle:Form:createOrEditPartial.html.twig') }}
             </div>
         </div>
     </div>
 {% endblock %}
