#fos-form {
  input[type=submit] {
    @extend .button;
    float: right;
  }

  .button {
    float: right;
    margin-right: 1em;
    a {
      color: #fefefe;
    }
  }
}

.has-error > input {
  margin-bottom: 0;
}

.invalid-field {
  color: darken($alert, 25%);
  margin-bottom: 1rem;
}