@import "settings";
@import "../../../../vendor/zurb/foundation/assets/foundation";
@import "typography";
@import "tables";
@import "forms";
@import "breakPoints";

$main-drop: 1em;

////////////////////////////////////////////////////////////////////////
////////////////////// misc. recurring elements ////////////////////////
////////////////////////////////////////////////////////////////////////

html, body {
  height: 100%;
}

// background
#background {
  height: 100%;
  background: #38a1ad url("/images/new-york-city.jpg") no-repeat fixed center;
  background-size: cover;
}

// main element
.main {
  margin-top: $main-drop;
}

// foreground elements.
.foreground {
  background-color: $foreground-color;
  padding: 1em;
}

// Close button
.close-button {
  font-size: 1.6em;
}

//Pane for button group dropdown
.button-pane {
  padding: 0;
  border-width: 0;
}

//Gutters
.no-right-gutter {
  padding-right: 0;
}

.no-left-gutter {
  padding-left: 0;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

//View page
.view-item-wrapper {
  padding: 0.25rem;
}

.view-item {
  background-color: $white;
  font-size: 1.5rem;
  height: 2.5rem;
  padding: 0;
  .item-start{
  }

  .item-name{
  }
}

.completed {
  background-color: $progressColor;
}

//progressbar
.count-down-bar {
  border: 0;

  .count-down-progress {
    height: 102%;
    background-color: $progressColor;
  }
}

////////////////////////////////////////////////////////////////////////
/////////////////////// misc. special elements /////////////////////////
////////////////////////////////////////////////////////////////////////

//header
#header > .column {
  margin-top: 1rem;
  height: 4.5rem;
}

#header {
  .button-group, h1 {
    margin-bottom: 0;
  }
}

//slogan in header
.slogan-wrapper {
  margin-top: 1em;
  .slogan {
    background-color: $foreground-color;
    height: 100%;
  }
}

//home box
#home-box {
  background-color: $foreground-color;
  border: none;
}

// User form roles inputs.
.roles.menu {
  margin-bottom: 1rem;
}
