@import "settings";
@import "../../../../vendor/zurb/foundation/assets/foundation";
@import "typography";
@import "tables";
@import "forms";
@import "breakPoints";

$main-drop: 1em;

////////////////////////////////////////////////////////////////////////
////////////////////// misc. recurring elements ////////////////////////
////////////////////////////////////////////////////////////////////////

html, body {
  height: 100%;
}

// background
#background {
  @include breakpoint(medium up) {
    background: $background-color url("/images/new-york-city.jpg") no-repeat fixed center;
    //#38a1ad
  }

  @include breakpoint(small only) {
    background-color: $background-color;
  }

  background-size: cover;
}

// main element
.main {
  margin-top: $main-drop;
  @include breakpoint(small only) {
    padding-right: 0;
    padding-left: 0;
  }
}

// foreground elements.
.foreground {
  background-color: $foreground-color;
  padding: 1em;
}

// Close button
.close-button {
  font-size: 1.6em;
}

//Pane for button group dropdown.
.button-pane {
  padding: 0;
  border-width: 0;
}

//Callout
.callout.primary {
  background-color: lighten($primary-color, 60%);
  .close-button {
    color: $black;
  }
}

.manual-label {
  font-weight: bold;
}

//Gutters
.no-right-gutter {
  padding-right: 0;
}

.no-left-gutter {
  padding-left: 0;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////
/////////////////////// misc. special elements /////////////////////////
////////////////////////////////////////////////////////////////////////

//// project view
.view-item-wrapper {
  margin-top: 0.25rem;
}

.view-item {
  background-color: $white;
  @include breakpoint(medium up) {
    font-size: 1.5rem;
  }

  @include breakpoint(small only) {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2rem;
  }

  height: 2.5rem;
  padding: 0;
}

.new-day > h6 {
  padding: 0.5rem 1rem 0 1rem;
  margin-bottom: 0;
}

//progressbar
.completed {
  background-color: $progressColor;
}

.view-item-wrapper {
  .view-item.count-down-bar {
    border: none;
  }
}

.count-down-bar {
  .count-down-progress {
    height: 102%;
    background-color: $activeProgressColor;
  }
}

//item data-dropdown
.item-data {
  background: $white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: solid lightgray 1px;

  .text {
    width: 95%;
    @include breakpoint(small only) {
      width: 90%;
    }
    float: right;
  }

  .icon {
    width: 5%;
  }
}

//header
#header > .column {
  margin-top: 1rem;
  height: 4.5rem;
  @include breakpoint(small only) {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

#header {
  .button-group, h1 {
    margin-bottom: 0;
  }
}

//slogan in header
.slogan-wrapper {
  margin-top: 1em;
  .slogan {
    background-color: $foreground-color;
    height: 100%;
  }
}

//home box
#home-box {
  background-color: $foreground-color;
  border: none;
}

// User form roles inputs.
.roles.menu {
  margin-bottom: 1rem;
}

//// Schedule view
.action-form {
  margin-bottom: 1rem;
}
