<footer class="responsive-blog-footer">
    <div class="row">
        <div class="medium-8 columns small-order-2 medium-order-1 about-container">
            <div class="row">
                <div class="hide-for-small-only medium-4 columns about-section">
                    {% image '@AppBundle/Resources/public/images/avatar.jpg' %}
                    <img src="{{ asset_url }}" alt="avatar"/>
                    {% endimage %}
                </div>
                <div class="medium-8 columns about-section">
                    <h4> About Me</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus sapien ligula, a
                        laoreet elit tellus.</p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
            <h4 class="mailing-list">contact</h4>
        </div>
    </div>
</footer>