@import "settings";
@import "typography";
@import "tables";
@import "forms";
@import "breakPoints";

$main-drop: 1em;
//$highlight: $primary-color;

// added SASS from:
// - app.scss
// - countdown.scss
// - homepage.scss
// - iconStyles.scss
// - _breakPoints.scss
// - _footer.scss
// - _fos-form.scss
// - _hot-checkbox.scss
// - _nav-menu (skipped)

////////////////////////////////////////////////////////////////////////
/////////////////////// misc. special elements /////////////////////////
////////////////////////////////////////////////////////////////////////

// background
#background {
  height: 100%;
  background: #38a1ad url("/images/new-york-city.jpg") no-repeat fixed center;
  background-size: cover;
}

// main element
.main {
  margin-top: $main-drop;
}

// foreground elements.
.foreground {
  background-color: $foreground-color;
  padding: 1em;
}

//select {
//  background-image: none;
//}

//.thumbnail > img {
//  width: 100%;
//}

//slogan in header
.slogan {
  margin: 1em 0 0 0;
  height: 100%;

  .slogan-wrapper {
    background-color: $foreground-color;

    h1 {
      color: $foreground-text;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

//home box
#home-box {
  margin-top: 1em;
  background-color: $foreground-color;
  color: $foreground-text;
  border: none;
}

//.pop-out {
//  transition: all .2s ease-in-out;
//}

//.pop-out:hover {
//  transform: scale(1.1);
//}

//.application-tile {
//  background-color: $foreground-color;
//  text-align: center;
//}

//.no-button-webclass {
//  -webkit-appearance: none !important;
//}

//.responsive-blog-footer {
//  background: $background-color;
//  padding: 1rem 2rem;
//  color: darken($background-text, 25%);
//  margin-top: 2em;

//  h4 {
//    @media screen and (max-width: 39.9375em) {
//      font-size: 1.5rem;
//    }
//  }

//  p {
//    color: $background-text;
//  }

//  .about-section, .tag-section {
//    margin-bottom: 0.5rem;
//
//    a {
//      color: $highlight;
//    }
//  }
//}

////////////////////////////////////////////////////////////////////////
////////////////////// misc. recurring elements ////////////////////////
////////////////////////////////////////////////////////////////////////

// Close button
.close-button {
  font-size: 1.6em;
}

// text div
//.text {
//  margin-top: 0.5rem;
//  p {
//    background: $foreground-color;
//    margin: 0.2rem 0;
//    padding: 0.5rem;
//  }
//}

////Schedule page
//.start {
//  .column {
//    padding: 0 0.15rem;
//  }
//  div.row {
//    margin-top: 0;
//  }
//}
//
//.schedule-head {
//  font-weight: bold;
//}
//
//.schedule-item {
//  background-color: $white;
//  padding: 0.5rem;
//}
//
//.items {
//  .row {
//    margin-top: 0.5rem;
//  }
//}

////View page
//.view-item-wrapper {
//  padding: 0.25rem;
//}
//
//.view-item {
//  background-color: $white;
//  font-size: 1.5rem;
//  height: 2.5rem;
//  padding: 0;
//  .item-start{
//  }
//
//  .item-name{
//  }
//}

//.completed {
//  background-color: $secondary-color;
//}

//progressbar
//.count-down-bar {
//  border: 0;
//
//  .count-down-progress {
//    height: 102%;
//  }
//}

//////////////////////////////////////////////////////////////////////////////////