<div class="small-9 column">
    <select id="user_roles___name__" name="user[roles][__name__]">
        {% for role, name in roles %}
            <option value="{{ name }}">{{ role }}</option>
        {% endfor %}
    </select>
</div>