<div class="small-10 column"><select id="user_roles___name__" name="user[roles][__name__]">
        {% for role, name in roles %}
            <option value="{{ role }}">{{ name }}</option>
        {% endfor %}
    </select></div>